.clear{
  zoom: 1;
}
.clear::after{
  display: block;
  clear: both;
  content: '';
  width: 0;
  height: 0;
  visibility: hidden;
}
.clr{
  clear: both;
}
.ng-ul-list-none{
  list-style: none;
}
.ng-colon-after::after{
  content: ":";
  margin: 0 2px;
}
.ng-rmb-before::before{
  content: "¥";
  margin: 0 2px;
}
ul.ng-ul-no-style{
  list-style: none;
}
ul.ng-ul-li-f-l{
  zoom: 1;
}
ul.ng-ul-li-f-l::after{
  display: block;
  clear: both;
  content: '';
  width: 0;
  height: 0;
  visibility: hidden; 
}
ul.ng-ul-li-f-l > li{
  float: left;
}
.ng-shadow{
  box-shadow: #eee 0 0 3px;
}